/* Author: Matheus Henrique de Assis */

*{
    margin: 0px;
}
:root{
    --cor-principal: #151515;
    --cor-botao: #2c2c2c;    
}
.caixa-header h1{
    background: var(--cor-principal);
    padding: 15px 0;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}
.caixa-header img{
    position: relative;
    transform: translate(-50%, -50%);
    top: 104px;
    left: 51.2%;
    border-radius: 8px;
    margin: 0 auto;
}
.navegacao{
    background: var(--cor-principal);
    position: relative;
    text-align: center;
    top: -40px;
    padding-bottom: 10px;
}
.navegacao li{
    display: inline-block;
    padding: 0 15px;
}
.navegacao button{
    position: relative;
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 10px auto;
    width: 130px;
    background: var(--cor-botao);
    border: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: normal;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.navegacao button:hover{
    background: #414141;
}
.navegacao button:active{
    background: #ff8c00;
}

/* Conteúdo da página */

main{                                    /* Divisão principal da Página*/
    margin: 0 auto;
}

form{                                    /* Formulário */
    margin: 20px auto;
}
.campos label, .radios p, .horario p{    /* Campos Labels da página */
    color: #ffffff;
    display: block;
    padding: 10px 0;
    text-align: center;
    background-color: #303030;
    margin: 10px 33%;
    font-size: 13px;
    font-weight: normal;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.campos label:active{                     /* Reação cursos do mouse nos Labels */
    color: #747474;
}
.campos input:focus{
    border-color: #ff8c00;
}
.campos input, .campos textarea{           /* Campos Input e Textarea */
    position: relative;
    text-align: center;
    display: block;
    padding: 10px 5px;
    left: 34.3%;
    width: 30%;
    border-radius: 8px;
    border: 1px solid #2c2c2c;
    outline: none;
    caret-color: #ff8c00;
    font-family: 'Montserrat', sans-serif;
}
.campos textarea:focus{
    border-color: #ff8c00;
}
.radios label {                            /* Label do Radio */
    position: relative;
    font-size: 13px;
    padding: 5px 0;
    text-align: center;
    left: 43%;
    font-family: 'Montserrat', sans-serif;
}
.radios input {                             /* Input do Radio */
    text-align: center;
    margin: 5px auto;
}
.radios label:active{                       /* Reação do cursor no Radio */
    color: #747474;
}
.checkbox{                                  /* Caixa de marcar Receber por e-mail */
    text-align: center;
    font-size: 13px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}
.horario select{                            /* Lista de opções de horário de contato */
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    margin-left: 46%;
    padding: 5px 20px;
    border-radius: 8px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
.horario select:focus{
    border-color: #ff8c00;
}
.botao input{                               /* Botão Enviar formulário */
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 25px;
    background: #FF8C00;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-left: 45.1%;
    font-family: 'Montserrat', sans-serif;
}
.botao input:active{                        /* Reação do cursor no botão */
    background: var(--cor-botao);
}

.horario-funcionamento{
    margin-left: 44%;
    font-family: 'Montserrat', sans-serif;
}
.horario-funcionamento p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

table{
    margin-left: 44%;
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
thead{
    background-color: #2c2c2c;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}
th, td{
    border: 1px var(--cor-botao) solid;
    padding: 8px 15px;
    font-size: 13px;
}

/* Rodapé da página */

footer{
    background: var(--cor-principal);
    height: 100px;
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
}
footer p{
    text-align: center;
    color: white;
    font-size: 13px;
    padding-top: 35px;
}
footer p:hover{
    color: #cccccc;
}