/* Author: Matheus Henrique de Assis */

*{
    margin: 0px;
}

/* Cabeçalho da página */

header {
    background-color: #151515;
    padding: 20px 0;
}

.caixa{                                 /* Tamanho da página */
   position: relative;      
    width: 940px;
    margin: 0 auto;
}
.logo{                                   /* Logo */
    position: relative;
    top: 4px;
    left: 30px;
}
.logo img{                               /* Imagem da Logo */
    border-radius: 8px;
}
.navegacao{                              /* Elementos da navegação */
    position: absolute;
    top: 95px;
    right: 0;
}
.navegacao li{                          /* Itens da navegação */
    display: inline;
    padding: 10px 2px;
    margin: 0 10px;
}
.navegacao button{                       /* Botões da navegação */
    background-color: #2c2c2c;
    padding: 8px;
    width: 100px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.navegacao a{                           /* Ancoragem dos botões da Navegação */
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.navegacao a:hover {                    /* Reação dos botões da Navegação */
    color: #747474;
}

/* Conteúdo da página */

.servico{                               /* Elemento principal do serviço */
    position: relative;
    width: 900px;
    margin: 30px auto;
    text-align: center;
    left: 10px;
    border: 2px solid #2c2c2c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.servico h2{                            /* Nome do serviço */
    padding: 10px 0;
    color: white;
    background-color: #2e2e2e;
    font-size: 16px;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.servico img{                           /* Imagem do serviço */
    margin: 30px auto;
}
.descricao{                             /* Descrição do serviço */
    margin: 0 50px;
    font-size: 13px;
}
.valor{                                 /* Nome VALOR do serviço */
    padding: 15px 0;
    font-weight: bold;
}
.preco{                                 /* Preço do serviço */
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
}
.preco :hover{                          /* Reação de cursor no preço */
    color: #747474;
}

/* Rodapé da página */

footer {                                     /* Rodapé da página */
    position: relative;
    text-align: center;
    background: #303030;
    height: 149px;
    top: 20px;
}
footer p{                                    /* Copyright */
    position: relative;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    top: 70px;
}
footer p:hover{                              /* Reação no Copyright */
    color: #747474;
}