/* Author: Matheus Henrique de Assis */

*{
    margin: 0px;
}
:root{
    --cor-principal: #151515;
    --cor-botao: #2c2c2c;    
}
.caixa-header h1{
    background: var(--cor-principal);
    padding: 15px 0;
    padding-bottom: 50px;
}
.caixa-header img{
    position: relative;
    transform: translate(-50%, -50%);
    top: 104px;
    left: 51.2%;
    border-radius: 8px;
    margin: 0 auto;
}
.navegacao{
    background: var(--cor-principal);
    position: relative;
    text-align: center;
    top: -40px;
    padding-bottom: 10px;
}
.navegacao li{
    display: inline-block;
    padding: 0 15px;
}
.navegacao button{
    position: relative;
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 10px auto;
    width: 130px;
    background: var(--cor-botao);
    border: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.navegacao button:hover{
    background: #414141;
}
.navegacao button:active{
    background: #ff8c00;
}
/* Conteúdo da página */

.servico{                               /* Elemento principal do serviço */
    position: relative;
    width: 60%;
    margin: 30px auto;
    text-align: center;
    left: 10px;
    border: 2px solid #2c2c2c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.servico h2{                            /* Nome do serviço */
    padding: 10px 0;
    color: white;
    background-color: #2e2e2e;
    font-size: 16px;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.servico img{                           /* Imagem do serviço */
    margin: 30px auto;
}
.descricao{                             /* Descrição do serviço */
    margin: 0 50px;
    font-size: 13px;
}
.valor{                                 /* Nome VALOR do serviço */
    padding: 15px 0;
    font-weight: bold;
}
.preco{                                 /* Preço do serviço */
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 50px;
}
.preco :hover{                          /* Reação de cursor no preço */
    color: #ff8c00;
    transition: 0.5s;
    cursor: default;
    transform: scale(1.1);
}

/* Rodapé da página */

footer{
    background: var(--cor-principal);
    height: 100px;
    margin-top: 35px;
}
footer p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 35px;
}
footer p:hover{
    color: #cccccc;
}