*{
    margin: 0px;
}
:root{
    --cor-principal: #151515;
    --cor-botao: #2c2c2c;    
}
.caixa-header h1{
    background: var(--cor-principal);
    padding: 15px 0;
    padding-bottom: 50px;
}
.caixa-header img{
    position: relative;
    transform: translate(-50%, -50%);
    top: 104px;
    left: 51.2%;
    border-radius: 8px;
    margin: 0 auto;
}
.navegacao{
    background: var(--cor-principal);
    position: relative;
    text-align: center;
    top: -40px;
    padding-bottom: 10px;
}
.navegacao li{
    display: inline-block;
    padding: 0 15px;
}
.navegacao button{
    position: relative;
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 10px auto;
    width: 130px;
    background: var(--cor-botao);
    border: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.navegacao button:hover{
    background: #414141;
}
.navegacao button:active{
    background: #ff8c00;
}

/* Corpo da Página */

.servicos{
    text-align: center;
}
.servicos li{
    display: inline-block;
    list-style: none;
    vertical-align: top;
    width: 21em;
    height: 15em;
    margin: 10px;
    cursor: pointer;
    border: 2px var(--cor-botao) solid;
    border-radius: 8px;
}
.servicos li:hover{
    border-color: #ff8c00;
}
.servicos h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--cor-botao);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.servicos img{
    margin: 50px 0;
    width: 100px;
}
.servicos a{
    text-decoration: none;
}
.servicos button:active{
    background: #ff8c00;
}

/* Rodapé */

footer{
    background: var(--cor-principal);
    height: 100px;
    margin-top: 60px;
}
footer p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 35px;
}
footer p:hover{
    color: #cccccc;
}