/*Author: Matheus Henrique Teixeira de Assis*/

*{
    margin: 0;
    padding: 0;
}

/* Variáveis */

:root{
    --cor-principal: #151515;
    --cor-botao: #2c2c2c;
    --cor-secundaria: #ff8c00;    
}

body{
    font-family: 'Montserrat', sans-serif;
}
/* Cabeçalho da página */
.caixa-header h1{
    background: var(--cor-principal);
    padding: 15px 0;
    padding-bottom: 50px;
}
.caixa-header img{
    display: flex;
    top: 104px;
    border-radius: 8px;
    margin: 0 auto;
}
.navegacao{
    background: var(--cor-principal);
    position: relative;
    text-align: center;
    top: -40px;
    padding-bottom: 10px;
}
.navegacao li{
    display: inline-block;
    padding: 0 15px;
}
.navegacao button{
    position: relative;
    text-align: center;
    color: white;
    padding: 5px 20px;
    margin: 10px auto;
    width: 130px;
    background: var(--cor-botao);
    border: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    cursor: pointer;
}
.navegacao button:hover{
    background: #414141;
}
.navegacao button:active{
    background: var(--cor-secundaria);
}

/* Corpo da Página */

/* Caixa de Serviços */
.servicos{
    text-align: center;
}
.servicos li:hover{
    transform: scale(1.02);
    transition: 0.3s;
}
.servicos li{
    display: inline-block;
    list-style: none;
    vertical-align: top;
    width: 21em;
    height: 15em;
    margin: 10px;
    cursor: pointer;
    border: 2px var(--cor-botao) solid;
    border-radius: 8px;
}
.servicos li:hover{
    border-color: var(--cor-secundaria);
}
.servicos h2{
    padding: 4px 0;
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--cor-botao);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.servicos img{
    margin: 50px 0;
    width: 100px;
}
.servicos a{
    text-decoration: none;
}
.servicos button:active{
    background: var(--cor-secundaria);
}

/* Caixa de About US */

.caixa-about{
    margin: 2.5% 15%;
    text-align: justify;
    font-size: 15px;
}
.caixa-about img{
    margin-right: 2%;
    float: left;
    clear: left;
}
.caixa-about strong:hover{
    color: var(--cor-secundaria);
}

/* Caixa de Localização */

.caixa-localizacao{
    padding-bottom: 60px;
}

.caixa-localizacao h3{
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: var(--cor-principal);
}
.caixa-localizacao p{
    margin: 2.5% 14% 3% 16%;
    text-align: center;
    padding: 5px 0;
}
.caixa-localizacao iframe{
    margin: 0 10% 0 20.5%;
    width: 62%;
    height: 300px;
    border: 1px #cacaca solid;
    border-radius: 10px;
}

/* Rodapé */

footer{
    background: var(--cor-principal);
    height: 130px;
}
footer p{
    text-align: center;
    color: white;
    font-size: 13px;
    padding-top: 55px;
}
footer p:hover{
    color: #cccccc;
}